body{
    background-color: black;
    color: white;
}
.mainForm{
    display: block;
    text-align: left;
    line-height: 30px;
    zoom: 2.3;
    border: solid 1px black;
    width: 250px;
    height: 200px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 30px;
    margin: auto;
}
button{
    zoom: 2;
    outline: none;
}
.submiteButton{
    display: block;
    margin: auto;
}
.TFBtns{
    margin: 0px 10px;
}
.TFBtns:active{
    background-color: gray;
}
.mBtns{
    margin: 15px;
}
.mBtns:active{
    background-color: gray;
}